* {
    /* Setting no padding and margin for all elements.
    Settign border and box size for all elements. */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    /* Giving background a solid color */
    background-color: #d9dcd6;
}

.header {
    /*Header style */
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1 {
    /* Front size inline-block style for h1 */
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    /* Setting color of letters "seo" to gray in company logo */
    color: #d9dcd6;
}

.header div {
    /* header styling */
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul {
    /* Removing bullet points from list in header */
    list-style-type: none;
}

.header div ul li {
    /* putting menu items in one line */
    display: inline-block;
    margin-left: 25px;
}

a {
    /* Style for menu-nav anchor - setting color, remove underline */
    color: #ffffff;
    text-decoration: none;
}

p {
    /* paragraph font size */
    font-size: 16px;
}

.hero {
    /* background image style and layout */
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    /* layout for search engine optimization image */
    float: left;
    margin-right: 25px;
}

.float-right {
    /* layout for social media marketing image */
    float: right;
    margin-left: 25px;
}

.content {
    /* layout of main content */
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    /* sidebar info styling */
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead {
    /* lead generation style side content*/
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    /* brand awareness style side content*/
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    /* cost management style in side content*/
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    /* lead generation text */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    /* brand awareness text */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    /* cost management text */
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    /* lead generation image */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    /* brand awareness image */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    /* cost management image */
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization {
    /* search engine optimization section styling */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    /* online reputation section styling */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    /* social media marketing styling */
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.search-engine-optimization img {
    /* size of image section content */
    max-height: 200px;
}

.online-reputation-management img {
    /* size of image section content */
    max-height: 200px;
}

.social-media-marketing img {
    /* size of image section content */
    max-height: 200px;
}

.search-engine-optimization h2 {
    /* section font and margin */
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    /* section font and margin */
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    /* section font and margin */
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h4 {
    font-size: 2Opx;
}
